@media(max-width: 1000px) {


 

    .tea-list {
        margin: 0 auto;
        justify-content: center !important;
        flex-wrap: wrap;
    }

    .review {
        margin: 120px 0 !important;
    }

    .review-list {
        padding: 60px 0 82px 0;
        margin: 0 auto;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px 76px !important;
    }

    .blog {
        margin: 120px auto !important;
    }

    .blog-list {
        gap: 67px 20px !important;
    }

    .blog-list__card {
        flex-basis: 460px !important;
    }

    .blog-list__image {
        width: 230px;
    }

    .review-list__item:last-child {
        display: none !important;
    }

    .container_flex {
        justify-content: center;
    }

    .form {
        padding: 60px 0;
    }

    .form-description {
        width: 780px;
        margin: 0 !important;

        text-align: center;
    }

    .form-description__title {
        text-align: center !important;
    }

    .prioritise-list {
        justify-content: center !important;
        gap: 31px 210px;
    }

    .prioritise-list__block {
        width: 330px !important;
    }

    .footer-nav {
        width: 300px !important;
    }

    .footer-info__quote-block {
        padding: 0 !important;
    }

    .copyright {
        width: 300px !important;
    }
}


@media(max-width: 768px) {

    .header__inner {
        width: 640px;
        padding: 0 64px;
    }

    .nav {
        margin: 0;
    
    }

    .nav-list {
        display: none !important;
    }
    .menu{
        order: -1;
    }
    .menu-button {
        display: block !important;
        border: none;
        background-color: transparent;

    }

    .menu-button span {
        width: 40px;
        height: 2px;
        margin: 6px 0;
        display: block;
        background-color: #000;
        cursor: pointer;
        border: none;
    
    }

    .blog-list__card:nth-child(2n) {
        margin-left: auto !important;
    }
}

/*  */